<?xml version="1.0"?>

<model>
  <name>f1renault_ros2</name>
  <version>1.0</version>
  s
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alejandro Moncalvillo</name>
    <email>amglega13@gmail.com</email>
  </author>

  <description>
    A f1 renault car model with ackermman geometry for the follow line exercises
  </description>
</model>
